In [1]:
import pandas as pd
import glob
import os
import datetime

In [2]:
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join("./data", "*.csv"))), ignore_index= True)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696852 entries, 0 to 696851
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             696852 non-null  int64
 1   starttime                696852 non-null  object
 2   stoptime                 696852 non-null  object
 3   start station id         696852 non-null  int64
 4   start station name       696852 non-null  object
 5   start station latitude   696852 non-null  float64
 6   start station longitude  696852 non-null  float64
 7   end station id           696852 non-null  int64
 8   end station name         696852 non-null  object
 9   end station latitude     696852 non-null  float64
 10  end station longitude    696852 non-null  float64
 11  bikeid                   696852 non-null  int64
 12  usertype                 696852 non-null  object
 13  birth year               696852 non-null  int64
 14  gender                   696852 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 79.7+ MB

In [4]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [5]:
df.isnull().values.any()

False

In [6]:
df.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [7]:
df["starttime"] = pd.to_datetime(df["starttime"])
df["stoptime"] = pd.to_datetime(df["stoptime"])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696852 entries, 0 to 696851
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             696852 non-null  int64
 1   starttime                696852 non-null  datetime64[ns]
 2   stoptime                 696852 non-null  datetime64[ns]
 3   start station id         696852 non-null  int64
 4   start station name       696852 non-null  object
 5   start station latitude   696852 non-null  float64
 6   start station longitude  696852 non-null  float64
 7   end station id           696852 non-null  int64
 8   end station name         696852 non-null  object
 9   end station latitude     696852 non-null  float64
 10  end station longitude    696852 non-null  float64
 11  bikeid                   696852 non-null  int64
 12  usertype                 696852 non-null  object
 13  birth year               696852 non-null  int64
 14  gender                   696852 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 79.7+ MB

In [9]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [17]:
df["birth year"].nsmallest(n=70)

2667      1888
3193      1888
6682      1888
7949      1888
11171     1888
          ...
350956    1941
350983    1941
350996    1941
351029    1941
483672    1941
Name: birth year, Length: 70, dtype: int64

In [20]:
df["birth year"].idxmin()

2667

In [10]:
df.to_csv("./data/JC-2020-data.csv", index=False)